<h1 class="d-flex justify-content-center mt-5">The Single Movie Data</h1>
<div class="text-center p-5 m-5">
    <section class="d-flex justify-content-center">
        <div class="card m-1">
            <div class="card-body">
                <img class="img-fluid" [src]="movieData.image">
                <h5 class="card-title">{{movieData.title}} </h5>
                <p class="card-text">Title : {{movieData.title}}</p>
                <p class="card-text">Original Title : {{movieData.titleOriginal}}</p>
                <p class="card-text">Description : {{movieData.description}}</p>
                <small class="card-text">Release Date : {{movieData.release}}</small>
            </div>
        </div>
    </section>
</div>